# /etc/init/consul.conf

description "consul"

start on filesystem and static-network-up
stop on runlevel [016]

respawn

export GOMAXPROCS=`nproc`

exec consul agent \
  -config-dir {{ consul_config_dir }} \
  ${CONSUL_FLAGS} \
  >> {{ consul_log_file }} 2>&1 || { stop; exit 0; }

pre-stop exec consul leave
